@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?q2u1s4');
	src:url('fonts/icomoon.eot?#iefixq2u1s4') format('embedded-opentype'),
		url('fonts/icomoon.woff?q2u1s4') format('woff'),
		url('fonts/icomoon.ttf?q2u1s4') format('truetype'),
		url('fonts/icomoon.svg?q2u1s4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fluidstar-01:before {
	content: "\e600";
}
