/* Colors */
$color-background:  #F2F2F2;
$color-background-text: #FFF;  // colour that appears behind some text content.

$color-focus: #ffcc00;
$color-primary: #333;
$color-footer-background: #363636;
$color-footer-foreground: #fff;
$color-footer-text-field-background: #666;

$color-link: #009fcb;
$color-footer-link: $color-focus;
$color-link-block: #fff;
$color-link-block-background: $color-primary;
$color-link-block-hover: $color-link;
$color-link-block-active: $color-primary;
$color-link-block-background-active: $color-link-block-hover;
$color-link-infusion-download: $color-link-block;
$color-link-infusion-download-background: $color-link;
$color-link-community-hover: $color-link;

$color-header2: #808080;

/* Other Variables */
$row-width: 56rem; // override Foundation's width
$focus-outline: 0.2rem solid $color-focus;
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto Slab', serif;
$link-underline: 0.2em solid $color-link-block-hover;
$column-padding: 1rem;

/* General Styles */

body {
    background-color: $color-background;
    font-size: 14px;
}

@font-face {
    font-family: 'fluid-star';
    src:url('../fonts/fluid-star.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fluid-star.eot'),
        url('../fonts/fluid-star.ttf');
}

.fluid-web {
    font-family: $font-primary;
    color: $color-primary;
    padding: 0 1rem;

    .row {
        max-width: $row-width;
    }

    h1, h2, h3 {
        font-family: $font-primary;
        color: $color-primary;
    }
    
    h1 {
        font-size: 4.75rem;
        font-weight: bolder;
    }
    
    p {
        margin-bottom: 0.8rem;
    }
    
    // override Foundation column padding.
    .columns {
        padding-left: $column-padding;
        padding-right: $column-padding;
    }
    
    // Clearfix
    .fluid-web-group:after {
        content: "";
        display: table;
        clear: both;
    }
    
    // text that appears emphasized and bigger within content.
    .fluid-web-emphasized-text {
        font-family: $font-secondary !important;
        font-size: 1.6rem !important;
        color: $color-primary !important;
    }
    
    /* Links that appear within text content. */
    .fluid-web-link-content {
        color: $color-link;
    }
    
    .fluid-web-link-header:hover {
        border-bottom: 0.2rem solid $color-focus;
    }
    
    .fluid-web-link-content:hover {
        text-decoration: underline;
    }

    /* Read more Link */
    .fluid-web-link-readmore {
        font-weight: bold;
        border-bottom: $link-underline;
        color: $color-primary;
    }

    .fluid-web-link-readmore:hover {
        color: $color-link;
    }
    
    .fluid-web-link-readmore:focus {
        outline: $focus-outline;
    }
}

/* Header and Navigation */
.fluid-web .fluid-web-header {
    height: 10rem;
  
    .fluid-web-logo-star:before {
        content: '\e600';
        font-family: 'fluid-star';
        font-size: 3.5rem;
    }
  
    .fluid-web-nav {
        text-transform: uppercase;
        margin-top: 4rem;
        
        li {
            margin-right: 1rem;
            
            a.button {
                background: none;
                color: $color-primary;
                font-weight: bolder !important; // Overrides Bootstrap's normal font-weight on .button class
                border: none;
                padding: 0.5rem;
            }

            a.button:hover,
            a.button:focus {
                outline: $focus-outline;
            }
            
            a.button:active {
                background-color: $color-primary;
                color: $color-background;
            }
            
            a.button.current{
                border-bottom: 0.2rem solid $color-focus;
            }
            
            a.button.current:hover {
                outline: none;
            }
            
            a.button.current:focus {
                border-bottom: none;  
            }
        }    
    }
}

.fluid-web .fluid-web-index,
.fluid-web .fluid-web-projects {
    h2 {
        font-size: 1em;
        text-transform: uppercase;
        color: $color-header2;
    }
    h3 {
        font-size: 1.4rem;
        font-weight: bold;
    }
    .fluid-web-date {
        font-size: 0.7rem;
    }
    
}

/* Text content that appears before showcase. */

.fluid-web .fluid-web-index .fluid-web-intro-news {
    margin-bottom:2rem;
    
    a:focus {
        border: none;
        outline: $focus-outline;
    }  

    .fluid-web-intro-paragraph1 .show-for-small-only span {
        display:block;
    }
    
    .fluid-web-news {
        h3 {
            margin-bottom: 0;
        }
        
        h3 a {
            color: $color-primary;
        }
        
        h3 a:hover {
            color: $color-link;
            text-decoration: underline;
        }
    }
}


.fluid-web .fluid-web-showcase {
    margin-bottom: 5rem;
    
    .columns {
        padding-left: 0;
        padding-right: 0;
    }
    
    .fluid-web-link-readmore {
        margin-top: 0.5rem;
    }
    
    .fluid-web-showcase-item {
        a {
            width: 100%;
            color: $color-link-block;
            background: $color-link-block-background;
        }
            
        a:hover {
            color: $color-link-block-hover;
        }
            
        a:active .fluid-web-showcase-item-text {
            border: 0.2rem solid $color-link-block-background;
            color: $color-link-block-active;
            background: $color-link-block-background-active;
        }
        
        a:focus .fluid-web-showcase-item-text {
            border: 0.2rem solid $color-focus;
            outline: 0.2rem solid $color-link-block-background;
        }
        
        .fluid-web-showcase-item-text {
            margin-top: 9rem;
            margin-left: 1rem;
            box-sizing: border-box;
            border: 0.2rem solid $color-link-block-background;
            outline: 0.2rem solid $color-link-block-background;
            display: inline-block;
        }
        
        a span {
            /* specify the background and padding of link block for a span because the parent <a>
             has a different background and padding */
            background: $color-link-block-background;
            padding: 0.5rem;
        }
        
        .fluid-web-project-description {
            h2, p {
                background-color: $color-background-text;
            }
            
            h2 {
                display: inline-block;
                font-family: $font-secondary;
                color: $color-primary;
                margin: 0;
                text-transform: none;
                font-size: 1rem;
            }
        }
    }
    .fluid-web-learner-options a {
        background: url('../images/floe-uio.jpg') no-repeat;
    }
    
    .fluid-web-metadata a {
        background: url('../images/floe-metadata.jpg') no-repeat;
    }
    
    .fluid-web-videoplayer a {
        background: url('../images/floe-videoplayer.jpg') no-repeat;
    }
    
    .fluid-web-infusion a {
        background-color: #fff;
    }
}

/* FLUID-5514: Remove this hard-coded min-width value and replace with Foundation mixin */
@media only screen and (min-width: 40.063em) { /* min-width 641px, medium screens */
    .fluid-web .fluid-web-index .fluid-web-showcase {
        .fluid-web-showcase-column-left {
            padding: 0 0.5rem 0 0;
        }
        
        .fluid-web-showcase-column-right {
            padding: 0 0 0 0.5rem;
        }
        
        .fluid-web-showcase-item a {
            height: 16rem;
            padding: 12.5rem 0 0 1rem;
            margin-bottom: 1rem;
        }
        
        .fluid-web-showcase-item-text {
            margin-top: 0rem;
            margin-left: 0rem;
        }
    }
}

.fluid-web .fluid-web-index .fluid-web-showcase-item {
  a {
      display: inline-block;
      height: 12rem;
  }
}

/* Community links section */

.fluid-web .fluid-web-index .fluid-web-community {
    padding-top: 1rem;
    
    .fluid-web-community-list {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
               
        li {
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            min-width: 8rem;
             
        }    

        li a {
            width: 7rem;
            display:block;
            text-align:center;
            margin-top: 5rem;
            position:relative;
            color: $color-primary;
            font-weight: bold;
        }
        
        li .fluid-web-community-icon:before {
            border-radius: 50rem;
            background-color: #fff;
            width: 5rem;
            height: 5rem;
            content: '';
            position:absolute;
            top: -5rem;
            left: 1rem;
        }
        
        li a:focus {
            outline: $focus-outline;
        }
        
        li a:hover {
            color: $color-link-community-hover;
        }
        
        .fluid-web-community-icon {
          
        }
    }
}

/* About Fluid */
.fluid-web .fluid-web-about {
    p {
        position: relative;
        margin: 0 0 2rem 5rem;
    }
    
    .fluid-web-license {
        margin-bottom: 2rem;
    }

    p:before {
      width: 4rem;
      height: 4rem;
      background-color: #fff;
      position:absolute;
      content:'';
      left: -5rem;
    }
}

/* Projects */
.fluid-web .fluid-web-projects {
  
    .fluid-web-link-nightly {
        font-style: italic;
        color: $color-primary;
        border-bottom: $link-underline;
    }
    
    .fluid-web-prefs-framework {
        background: url("../images/floe-uio.jpg") no-repeat, #f0de00;
        background-size: 100% auto;
    }
    
    .fluid-web-video-player {
        background: url("../images/floe-videoplayer.jpg") no-repeat, #53a35e;
        background-size: 100% auto;
    }
    
    .fluid-web-metadata-authoring {
        background: url("../images/floe-metadata.jpg") no-repeat, #4ac39a;
        background-size: 100% auto;
    }
    
    .fluid-web-projects-about-infusion .fluid-web-link-buttons {
        color: $color-link-infusion-download;
        background: $color-link-infusion-download-background;
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    
    .fluid-web-component-list {
        background: $color-background-text;
        padding: 1rem 1rem 2rem 1rem;
        margin-top: 0.2rem;
        
        h3 {
            font-family: $font-secondary;
            font-weight: normal;
        }
        
        dl dt {
            margin-top: 1.5rem;
        }
        
        dl dd {
            margin-bottom: 1rem;
        }
    }
    
    .fluid-web-projects-partners {
        font-style: italic;
        margin-bottom: 3.5rem;
    }
}

.fluid-web.fluid-web-news {
  .fluid-web-news-post-meta {
      font-style: italic;
  }
}

/* Footer */

.fluid-web .fluid-web-footer {
    padding: 3em;
    background-color: $color-footer-background;
    color: $color-footer-foreground;

    a {
        color: $color-footer-link;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    a:active {
        background-color: $color-footer-link;
        color:  $color-footer-background;
    }
    
    a:focus {
        outline: 0.2rem solid $color-footer-link;
    }
    
    p {
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }
    
    .fluid-web-projectCoordinator-list {
        margin-top: 1.5rem;
        font-size: 0.8rem;
    }
    
    .fluid-web-projectCoordinator-list dt, {
        margin-bottom: 0rem;
        display:inline;
    }
    
    .fluid-web-announcement-text-field {
        background-color: $color-footer-text-field-background;
        color: $color-footer-foreground;
        border: 0.2rem solid $color-footer-text-field-background;
        box-shadow: none;
    }
    
    .fluid-web-announcement-text-field:focus {
        border: 0.2rem solid $color-footer-link;
    }
    
    .fluid-web-announcement-text-field-submit {
        border: 0.2rem solid $color-footer-link;
        background-color: $color-footer-link;
        color: $color-footer-background;
    }
    
    .fluid-web-announcement-text-field-submit:focus {
        border: 0.2rem solid $color-footer-background;
        outline: $focus-outline;
    }
    
    .fluid-web-announcement-text-field-label {
        margin-bottom: 0.5rem;
        display:block;  
    }
}
