// Default
color-background = #F2F2F2;
color-focus =      #FFCC00;
color-primary =    #333;
color-link =       #009FCB;

row-width = 66rem; // override Foundation's width
column-padding = 0.5rem; // override the gap between Foundation columns.

focus-outline = 0.2rem solid color-focus;
link-underline = 0.2rem solid color-link;

font-primary = 'Open Sans', sans-serif;
font-secondary = 'Roboto Slab', serif;
font-size-root = 0.875rem; // 14px÷16px
font-size-smaller = 0.8rem;

// header
skip-link-color = #FFF;

// Showcase
showcase-color-text-background = #FFF;
showcase-link = #FFF;
showcase-link-background = color-primary;
showcase-link-active = color-primary;

// Projects
projects-components-background = #FFF;

// Community Links
community-icon-background = #FFF;
community-icon-background-shadow = -0.03rem -0.07rem #dfdfdf;
community-icon-shadow = 0.01rem 0.01rem 0.1rem #afafaf;

// Footer
footer-color-link = color-focus;
footer-color-background = #363636;
footer-color-foreground = #FFF;
footer-color-text-field-background = #666;

// Button - currently used on Projects page.
button-color = #FFF;
button-background = color-link;

// Deemphasized text color - currently used for headers with less emphasis.
deemphasized-text-color= #808080;

// transparent mixin for column-count
column-count() {
    -webkit-column-count: arguments;
    -moz-column-count: arguments;
    column-count: arguments;
}

body {
    background-color: color-background;
    font-size: font-size-root;
    line-height: inherit;
}

@font-face {
    font-family: 'fluid-community';
    src: url('../fonts/fluid-community.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fluid-community.eot'),
         url('../fonts/fluid-community.ttf');
}

.fluid-web {
    font-family: font-primary;
    color: color-primary;
    padding: 0 1rem;

    .row, .toc {
        max-width: row-width;
    }
    .toc {
      margin: 0 auto;
      h1 {
        font-size: 1.2rem;
      }
    }

    h1, h2, h3 {
        font-family: font-primary;
        color: color-primary;
    }

    h1 {
        font-weight: bolder;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: bold;
    }

    p {
        margin-bottom: 0.8rem;
        line-height: inherit;
    }

    a:hover {
        color: color-link;
    }

    a:focus {
        outline: focus-outline;
    }

    ul {
        line-height: inherit;
    }

    // override Foundation column padding.
    .columns {
        padding: column-padding;
    }

    // Clearfix
    .fluid-web-group:after {
        content: "";
        display: table;
        clear: both;
    }

    .fluid-web-section-gap {
        margin-top: 5rem;
    }

    // text that appears emphasized and bigger within content.
    .fluid-web-emphasized-text {
        font-family: font-secondary !important;
        font-size: 1.6rem !important;
        color: color-primary !important;
    }

    // text that appears lighter and smaller within content. Used for headers.
    .fluid-web-deemphasized-text {
        font-size: 1.2em;
        text-transform: uppercase;
        color: deemphasized-text-color;
    }

    /* Links that appear within text content. */
    .fluid-web-link-content {
        color: color-link;
    }

    .fluid-web-link-header:hover {
        border-bottom: 0.2rem solid color-focus;
    }

    .fluid-web-link-content:hover {
        text-decoration: underline;
    }

    /* Read more Link */
    .fluid-web-link-readmore {
        font-weight: bold;
        border-bottom: link-underline;
        color: color-primary;
    }

    .fluid-web-external-link:before {
        font-family: 'fluid-community';
        content: '\e608';
        font-size: 0.8rem;
        font-weight: normal;
        margin-left: 0.3rem;
    }

    .fluid-web-mail-icon:before{
        font-family: 'fluid-community';
        content: '\e603';
        font-size: 0.8rem;
        font-weight: normal;
        margin-left: 0.3rem;
    }

    .fluid-web-map-icon:before{
        font-family: 'fluid-community';
        content: '\e609';
        font-size: 0.8rem;
        font-weight: normal;
        margin-left: 0.3rem;
    }

    // For lists - currently used in Projects page and Community links
    .fluid-web-list {
        background: projects-components-background;
        padding: 1rem;
        margin-top: 0.2rem;

        h3 {
            font-family: font-secondary;
            font-weight: bold;
            font-size: 1.2rem;
        }

        ul {
            list-style: none;
        }

        dl {
            line-height: inherit;
        }

        li,
        dl dt {
            margin-bottom: 0.8rem;
        }

        dl dd {
            margin-bottom: 1rem;
        }
    }
    .fluid-web-community-icon:before {
        width: 5rem;
        height: 5rem;
        border-radius: 50rem;
        position: absolute;
        top: -5rem;
        left: 1rem;
        font-family: 'fluid-community';
        font-size: 2.5rem;
        line-height: 5rem;
        background-color: community-icon-background;
        box-shadow: community-icon-background-shadow;
    }
}

/* Header and Navigation */
.fluid-web header {
    h1 {
        padding: 0; // remove default padding for the header.
        font-size: 4.75rem;
    }

    .fluid-web-skip-links {
        height: 3.5rem;
        padding-top: 1rem;
    }


    .fluid-web-skip-links a {
        position: relative;
        left: -100rem;
    }

    .fluid-web-skip-links a:focus {
        left: 1rem;
        background-color: color-primary;
        padding: 0.5rem;
        color: skip-link-color;
        border: 0.2rem solid color-focus;
        outline: 0.2rem solid color-primary;
        position: absolute;
    }

    .fluid-web-skip-links a:hover {
        color: color-link;
    }

    h1 a {
        color: color-primary;
    }

    h1 a:hover {
        color: color-link;
    }

    h1 a:focus {
        outline: focus-outline;
    }

    .fluid-web-logo-star:before {
        content: '\e607';
        font-family: 'fluid-community';
        font-size: 3.5rem;
    }
}

.fluid-web nav  {
    margin-bottom: 2rem;

    text-transform: uppercase;

    @media only screen and (min-width: 40.063em) {
        margin-top: 5.5rem;
    }
    li {
        margin-right: 0.5rem;

        a.button {
            background: none;
            color: color-primary;
            font-weight: bolder !important; // Overrides Bootstrap's normal font-weight on .button class
            border: none;
            padding: 0.5rem;
            margin: 0.5rem 0 0;
            line-height: 0.4rem;
        }

        a.button:hover,
        a.button:focus {
            outline: focus-outline;
        }

        a.button:active {
            background-color: color-primary;
            color: color-background;
        }

        a.button.current{
            border-bottom: 0.2rem solid color-focus;
        }

        a.button.current:hover {
            outline: none;
        }

        a.button.current:focus {
            border-bottom: none;
        }
    }
}

/* Index page - Introduction */
.fluid-web .fluid-web-index .fluid-web-intro {
    margin-bottom: 2rem;

    a:focus {
        border: none;
        outline: focus-outline;
    }
}

/* Showcase - colourful tiles featuring content. */
.fluid-web .fluid-web-showcase {
    .fluid-web-project-description {
        // remove Foundation padding to make everything look proportional.
        padding: 0;
    }

    .fluid-web-showcase-item {
        margin-bottom: 1rem;
        min-height: 10rem;
        padding: 1rem;
    }


    /* Showcase item variant for the Projects page. Has extra text, buttons, and spans the full width of the page. */
    .fluid-web-project-description {
        a {
            padding: 0.5rem;
            color: showcase-link;

            border: 0.2rem solid showcase-link-background;
            outline: 0.2rem solid showcase-link-background;
            display: inline-block;
            margin: 0.8rem 1rem 0 0;

            /* specify the background and padding of link block for a span because the parent <a>
             has a different background and padding */
            background: showcase-link-background;
        }

        a:focus {
            border: 0.2rem solid color-focus;
            outline: 0.2rem solid showcase-link-background;
        }

        a:hover {
            color: color-link;
        }

        a:active {
            border: 0.2rem solid showcase-link-background;
            color: showcase-link-active;
            background: color-link;
        }

        h3, p {
            background-color: showcase-color-text-background;
            padding: 0.2rem;
            display: inline-block;
            outline: 0.2rem solid showcase-color-text-background;
            // add an outline so that it matches the showcase item's links too
        }

        h3 {
            font-family: font-secondary;
            color: color-primary;
            margin: 0;
            text-transform: none;
            font-size: 1.4rem;
            font-weight: normal;
        }
    }

    .fluid-web-showcase-one {
        background: url('../images/floe-uio.jpg') no-repeat;
    }

    .fluid-web-showcase-two {
        background: url('../images/first-discovery.jpg') no-repeat;
    }

    .fluid-web-showcase-three {
        background: url('../images/chart-authoring.jpg') no-repeat;
    }

    .fluid-web-showcase-four {
        background: url('../images/infusion.jpg') no-repeat;
    }
}

.fluid-web .fluid-web-index .fluid-web-showcase-item {
      /* For the index page only, shift the contents of the showcase item down */
      padding-top: 6.5rem;
}

@media only screen and (min-width: 40.063em) {
    /* For medium screens */
    /* FLUID-5514: Remove this hard-coded min-width value and replace with Foundation mixin. Foundation defines medium screens as min-width 641px */

    .fluid-web .fluid-web-index .fluid-web-showcase {
        .fluid-web-showcase-column-left {
            /* The showcase on the index page is 2 columns. Foundation has a default padding which we override to make it the way we want. */
            padding: 0 0.5rem 0 0;
        }

        .fluid-web-showcase-column-right {
            /* The showcase on the index page is 2 columns. Foundation has a default padding which we override to make it the way we want. */
            padding: 0 0 0 0.5rem;
        }

        .fluid-web-showcase-item {
            /* Increase the top margin of the showcase title so it looks propotionally better. */
            padding-top: 12.5rem;
            min-height: 16rem;
        }
    }
}

/* Community links section */
.fluid-web .fluid-web-community {
    .fluid-web-community-list {
        display: flex;
        margin-top: 1rem;
        justify-content: center;
        flex-wrap: wrap;
        overflow: initial; // override Foundation overflow:hidden which was clipping the focus outline of list items.

        li a {
            margin: 5rem 0 1rem 0;
            width: 7rem;
            display: block;
            position: relative;
            color: color-primary;
            text-align: center;
            font-weight: bold;
            border: none; // remove default link underline;
        }


        li a:focus .fluid-web-community-icon:before,
        li a:hover .fluid-web-community-icon:before  {
            text-shadow: community-icon-shadow;
        }

        .fluid-web-community-wiki:before          { content: '\e602'; }
        .fluid-web-community-irc:before           { content: '\e604'; }
        .fluid-web-community-presentations:before { content: '\e600'; }
        .fluid-web-community-meetings:before      { content: '\e606'; }
        .fluid-web-community-source:before        { content: '\e601'; }
        .fluid-web-community-bugs:before          { content: '\e605'; }
        .fluid-web-community-mailinglist:before   { content: '\e603'; }

        li a:focus {
            outline: focus-outline;
        }

        li a:focus,
        li a:hover {
            color: color-link;
        }
    }
}

/* About Fluid */
.fluid-web .fluid-web-about {
    p {
        position: relative;
        margin: 0 0 2rem 0rem;
    }

    .fluid-web-license {
        margin-bottom: 2rem;
        line-height: 1.2rem;
    }
}

/* Projects */
.fluid-web .fluid-web-projects {
    .fluid-web-link-nightly {
        font-style: italic;
        color: color-primary;
        border-bottom: link-underline;
    }

    .fluid-web-projects-one {
        background: url("../images/floe-uio.jpg") no-repeat;
        background-size: 100% auto;
    }

    .fluid-web-projects-two {
        background: url("../images/first-discovery.jpg") no-repeat;
        background-size: 100% auto;
    }

    .fluid-web-projects-three {
        background: url("../images/chart-authoring.jpg") no-repeat;
        background-size: 100% auto;
    }

    .fluid-web-projects-four {
        background: url("../images/inclusive-design-guide.jpg") no-repeat;
        background-size: 100% auto;
    }

    .fluid-web-projects-five {
        background: url('../images/infusion.jpg') no-repeat;
        background-size: 100% auto;
    }

    .fluid-web-projects-about-infusion .fluid-web-link-buttons {
        color: button-color;
        background: button-background;
        margin-bottom: 0.5rem;
    }

    .fluid-web-projects-partners {
        font-style: italic;
    }
}

/* News */
.fluid-web .fluid-web-news-index {
    column-count: 2;
    &.fluid-web-list {
        background: color-background;
    }

}


/* Footer */
.fluid-web .fluid-web-footer {
    padding: 3rem;
    background-color: footer-color-background;
    color: footer-color-foreground;

    abbr {
        color: footer-color-foreground;
    }

    a {
        color: footer-color-link;
        border: none; // remove default link underline;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        background-color: footer-color-link;
        color: footer-color-background;
    }

    a:focus {
        outline: 0.2rem solid footer-color-link;
    }

    p {
        font-size: font-size-smaller;
        margin-bottom: 1.5rem;
    }

    .fluid-web-projectCoordinator-list {
        font-size: font-size-smaller;
    }

    .fluid-web-projectCoordinator-list dt {
        margin-bottom: 0rem;
        display: inline;
    }
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    margin-bottom: 0;
    height: inherit;
}
