<footer class="row fluid-web-section-gap fluid-web-footer">
    <div class="medium-6 columns">
        <p>Fluid is a project of the <a href="http://idrc.ocadu.ca/">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca">OCAD
University</a>, funded by a grant from <a href="http://www.mellon.org/">The Andrew W. Mellon Foundation</a>.</p>

        <address>
            The Inclusive Design Research Centre<br/>
            <a href="https://www.google.com/maps/place/205+Richmond+St+W/@43.6493603,-79.3901121,17z/">205 Richmond St. W. 2nd Floor<span class="fluid-web-map-icon" role="presentation"></span></a><br/>
            Toronto, ON Canada M5V 1V3 <br/>
            <abbr title="Phone number">T.</abbr> 416-977-6000 #3968 <br/>
            <abbr title="Fax">F.</abbr> 416-977-9844
        </address>
    </div>

    <div class="medium-6 columns">
        <dl class="fluid-web-projectCoordinator-list">
            <dt><a href="mailto:jtreviranus@faculty.ocadu.ca">Jutta Treviranus<span class="fluid-web-mail-icon" role="presentation"></span></a></dt>
            <dd>Principal Investigator, Director and Professor</dd>
            <dt><a href="mailto:jmitchell@ocadu.ca">Jess Mitchell<span class="fluid-web-mail-icon" role="presentation"></span></a></dt>
            <dd>Senior Manager, Research and Development</dd>
            <dt><a href="mailto:cclark@ocadu.ca">Colin Clark<span class="fluid-web-mail-icon" role="presentation"></span></a></dt>
            <dd>Lead Software Architect</dd>
        </dl>
    </div>
</footer>
