---
layout: layouts/default
title: The Open Source Software Community - Fluid Project
---
{% include partials/fluidwebintro.html %}
{% include partials/fluidcommunityontheweb.html %}
<main class="fluid-web-index" id="fluid-web-content">
<section class="row fluid-web-showcase" aria-labelledby="fluid-index-01">
    <h2 class="fluid-web-deemphasized-text" id="fluid-index-01">Featured Work</h2>

    <div class="small-12 medium-6 columns fluid-web-showcase-column-left">
        <div class="fluid-web-showcase-item fluid-web-showcase-learner-options fluid-web-group">
            <span class="small-10 columns fluid-web-project-description">
                <a href="http://build.fluidproject.org/infusion/demos/prefsFramework/"><span class="fluid-web-showcase-item-text">Learner Options Demo<span class="fluid-web-external-link" role="presentation"></span></span></a>
            </span>
        </div>
    </div>

    <div class="small-12 medium-6 columns fluid-web-showcase-column-right">
        <div class="fluid-web-showcase-item fluid-web-showcase-videoplayer fluid-web-group">
            <span class="small-10 columns fluid-web-project-description">
                <a href="http://build.fluidproject.org/videoPlayer/demos/Mammals.html"><span class="fluid-web-showcase-item-text">Video Player Demo<span class="fluid-web-external-link" role="presentation"></span></span></a>
            </span>
        </div>
    </div>

    <div class="small-12 medium-6 columns fluid-web-showcase-column-left">
        <div class="fluid-web-showcase-item fluid-web-showcase-metadata fluid-web-group">
            <span class="small-10 columns fluid-web-project-description">
                <a href="http://metadata.floeproject.org/demos/metadata/index.html"><span class="fluid-web-showcase-item-text">Metadata Authoring Demo<span class="fluid-web-external-link" role="presentation"></span></span></a>
            </span>
        </div>
    </div>

    <div class="small-12 medium-6 columns fluid-web-showcase-column-right">
        <div class="fluid-web-showcase-item fluid-web-showcase-feedback-tool fluid-web-group">
            <span class="small-10 columns fluid-web-project-description">
                <a href="http://metadata.floeproject.org/demos/feedback/index.html"><span class="fluid-web-showcase-item-text">Feedback Demo<span class="fluid-web-external-link" role="presentation"></span></span></a>
            </span>
        </div>
    </div>

    <a href="projects.html" class="right fluid-web-link-readmore">View all projects &rarr;</a>
</section>
</main>
