<div class="row fluid-web-intro">
    <p class="fluid-web-intro-paragraph1 fluid-web-emphasized-text">
        Fluid is an <strong>open, collaborative project</strong> to improve the user experience and inclusiveness of open source software.
        <span class="show-for-small-only">
            <a href="{{ '/' | url }}about.html" class="fluid-web-link-readmore">Learn more<span class="fluid-web-external-link" role="presentation"></span></a>
        </span>
    </p>
    <p class="fluid-web-intro-paragraph1 hide-for-small-only">
        The Fluid community consists of an international team of partners, individuals, and institutions focused on designing inclusive, ﬂexible, customizable, user-centered interfaces.
        <a href="{{ '/' | url }}about.html" class="fluid-web-link-readmore">Learn more about Fluid</a>
    </p>
</div>
