<div class="row" id="spaceup">
    <header class="small-12 columns">
        <div class="fluid-web-skip-links">
            <a href="#fluid-web-content">Skip to Content</a>
            <a href="#fluid-web-navigation">Skip to Navigation</a>
        </div>
    <span class="fluid-web-branding"><a href="/" class="fluid-web-logo-star">fluid</a></span>
    </header>
    <nav id="fluid-web-navigation" class="small-12 columns fluid-web-nav">
        <ul class="right button-group" id="fluid-web-nav">
            <li>
                <a href="{{ '/' | url }}index.html" class="button" id="indexnav">
                    Home
                </a>
            </li>
            <li>
                <a href="{{ '/' | url }}about.html" class="button" id="aboutnav">
                    About
                </a>
            </li>
            <li>
                <a href="{{ '/' | url }}projects.html" class="button" id="projectsnav">
                    Projects
                </a>
            </li>
            <li>
                <a href="{{ '/' | url }}infusion.html" class="button" id="infusionnav">
                    Infusion
                </a>
            </li>
            <li>
                <a href="{{ '/' | url }}news/index.html" class="button" id="newsnav">
                    News
                </a>
            </li>
        </ul>
    </nav>
</div>
